<a href="https://colab.research.google.com/github/Danhh-zk/Data-Analysis-with-Python-Projects/blob/main/Data_Transformation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-----------------------------------------------

In [1]:
import pandas as pd

reading the CSV file from the pandas

In [2]:
df = pd.read_csv("/content/movies.csv")

### Reviewing data

show the data type for each column

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   636 non-null    object
 1   Certificate    611 non-null    object
 2   Runtime        636 non-null    int64
 3   Genre          636 non-null    object
 4   IMDB_Rating    636 non-null    float64
 5   Meta_score     608 non-null    float64
 6   Director       636 non-null    object
 7   No_of_Votes    636 non-null    int64
 8   Released_date  636 non-null    object
 9   overview       636 non-null    object
 10  crew           636 non-null    object
 11  orig_lang      636 non-null    object
 12  country        636 non-null    object
 13  Gross          580 non-null    float64
 14  budget         636 non-null    object
 15  revenue        636 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 79.6+ KB

show the first Nth columns according to the number you entered (the default is 5)

In [6]:
df.head()

,Series_Title,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross,Released_date,overview,crew,orig_lang,budget,revenue,country
0,BATMAN BEGINS,UA,140 min,"Action, Adventure",8.2,70.0,Christopher Nolan,1308302,206852432.0,6/16/2005,"Driven by tragedy, billionaire Bruce Wayne ded...","Christian Bale, Bruce Wayne / Batman, Michael ...",English,150000000,358858124,AU
1,FIRST BLOOD,A,93 min,"Action, Adventure",7.7,61.0,Ted Kotcheff,226541,47212904.0,12-03-82,When former Green Beret John Rambo is harassed...,"Sylvester Stallone, John J. Rambo, Charles A. ...",English,14000000,125212904,AU
2,INDIANA JONES AND THE LAST CRUSADE,U,127 min,"Action, Adventure",8.2,65.0,Steven Spielberg,692366,197171806.0,06-08-89,"In 1938, an art collector appeals to eminent a...","Harrison Ford, Indiana Jones, Sean Connery, He...",English,48000000,474171806,AU
3,DEADPOOL,R,108 min,"Action, Adventure, Comedy",8.0,65.0,Tim Miller,902669,363070709.0,02-11-16,The origin story of former Special Forces oper...,"Ryan Reynolds, Wade Wilson / Deadpool, Morena ...",English,58000000,781947691,AU
4,DEADPOOL 2,R,119 min,"Action, Adventure, Comedy",7.7,66.0,David Leitch,478586,324591735.0,5/16/2018,Wisecracking mercenary Deadpool battles the ev...,"Ryan Reynolds, Wade Wilson / Deadpool / Jugger...",English,110000000,786362370,AU

show the last Nth columns according to the number you entered (the default is 5)

In [7]:
df.tail()

,Series_Title,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross,Released_date,overview,crew,orig_lang,budget,revenue,country
631,YOUNG FRANKENSTEIN,A,106 min,Comedy,8.0,80.0,Mel Brooks,143359,86300000.0,8/28/1975,A young neurosurgeon inherits the castle of hi...,"Gene Wilder, Frederick Frankenstein, Teri Garr...",English,2800000,86300489,AU
632,ZODIAC,UA,157 min,"Crime, Drama, Mystery",7.7,78.0,David Fincher,466080,33080084.0,5/17/2007,A cartoonist teams up with an ace reporter and...,"Jake Gyllenhaal, Robert Graysmith, Mark Ruffal...",English,85000000,83080084,AU
633,ZOMBIELAND,A,88 min,"Adventure, Comedy, Fantasy",7.6,73.0,Ruben Fleischer,520041,75590286.0,12-03-09,Columbus has made a habit of running from what...,"Woody Harrelson, Tallahassee, Jesse Eisenberg,...",English,23600000,102236596,AU
634,ZOOTOPIA,U,108 min,"Animation, Adventure, Comedy",8.0,78.0,Byron Howard,434143,341268248.0,3/17/2016,"Determined to prove herself, Officer Judy Hopp...","Jason Bateman, Nick Wilde (voice), Ginnifer Go...",English,150000000,1002462578,AU
635,ZULU,U,138 min,"Drama, History, War",7.7,77.0,Cy Endfield,35999,NaN,8/20/1964,"In 1879, during the Anglo-Zulu War, man-of-the...","Stanley Baker, Lt. John Chard R.E., Jack Hawki...",English,16000000,1844228,AU

showing a random rows

In [9]:
df.sample()

,Series_Title,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Gross,Released_date,overview,crew,orig_lang,budget,revenue,country
70,HARRY POTTER AND THE DEATHLY HALLOWS: PART 1,A,146 min,"Adventure, Family, Fantasy",7.7,65.0,David Yates,479120,295983305.0,11/13/2010,"Harry, Ron and Hermione walk away from their l...","Daniel Radcliffe, Harry Potter, Rupert Grint, ...",English,250000000,954305868,AU

__isnull():__ to show the null values in the DataFrame 'df'<br>
__sum():__ the sum all the values for the methods

In [12]:
df.isnull().sum()

Series_Title      0
Certificate      25
Runtime           0
Genre             0
IMDB_Rating       0
Meta_score       28
Director          0
No_of_Votes       0
Gross            56
Released_date     0
overview          0
crew              0
orig_lang         0
budget            0
revenue           0
country           0
dtype: int64

__duplicated():__ how many rows that has been duplicated in the DataFrame 'df'<br>
__sum():__ the sum all the values for the methods

In [15]:
df.duplicated().sum()

14

Reordering the columns of the DataFrame 'df' based on the specified list 're'

In [16]:
re = ['Series_Title','Certificate', 'Runtime', 'Genre', 'IMDB_Rating', 'Meta_score', 'Director','No_of_Votes','Released_date','overview', 'crew', 'orig_lang', 'country', 'Gross', 'budget', 'revenue']
df = df [re]

Just to make sure the DataFrame is reordered

In [17]:
df.head()

,Series_Title,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Released_date,overview,crew,orig_lang,country,Gross,budget,revenue
0,BATMAN BEGINS,UA,140 min,"Action, Adventure",8.2,70.0,Christopher Nolan,1308302,6/16/2005,"Driven by tragedy, billionaire Bruce Wayne ded...","Christian Bale, Bruce Wayne / Batman, Michael ...",English,AU,206852432.0,150000000,358858124
1,FIRST BLOOD,A,93 min,"Action, Adventure",7.7,61.0,Ted Kotcheff,226541,12-03-82,When former Green Beret John Rambo is harassed...,"Sylvester Stallone, John J. Rambo, Charles A. ...",English,AU,47212904.0,14000000,125212904
2,INDIANA JONES AND THE LAST CRUSADE,U,127 min,"Action, Adventure",8.2,65.0,Steven Spielberg,692366,06-08-89,"In 1938, an art collector appeals to eminent a...","Harrison Ford, Indiana Jones, Sean Connery, He...",English,AU,197171806.0,48000000,474171806
3,DEADPOOL,R,108 min,"Action, Adventure, Comedy",8.0,65.0,Tim Miller,902669,02-11-16,The origin story of former Special Forces oper...,"Ryan Reynolds, Wade Wilson / Deadpool, Morena ...",English,AU,363070709.0,58000000,781947691
4,DEADPOOL 2,R,119 min,"Action, Adventure, Comedy",7.7,66.0,David Leitch,478586,5/16/2018,Wisecracking mercenary Deadpool battles the ev...,"Ryan Reynolds, Wade Wilson / Deadpool / Jugger...",English,AU,324591735.0,110000000,786362370

Extracting numerical values from the 'Runtime' column and save it to the DataFrame 'df'

In [23]:
df['Runtime'] =pd.to_numeric(df["Runtime"])

__pd.to_numeric():__ Converting the 'column name' column to numeric values

__Types of Error__<br>
__errors='coerce':__ return non-numeric values to NaN<br>
__errors='raise':__ raise an exception if a conversion error occurs.<br>
__errors='ignore':__ ignore the error, and pass it on to the next step in the pipeline (default).

In [24]:
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['revenue'] = pd.to_numeric(df['revenue'], errors='coerce')
df['Runtime'] = pd.to_numeric(df['Runtime'], errors='coerce')

To make sure the convert is done

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   636 non-null    object
 1   Certificate    611 non-null    object
 2   Runtime        636 non-null    int64
 3   Genre          636 non-null    object
 4   IMDB_Rating    636 non-null    float64
 5   Meta_score     608 non-null    float64
 6   Director       636 non-null    object
 7   No_of_Votes    636 non-null    int64
 8   Released_date  636 non-null    object
 9   overview       636 non-null    object
 10  crew           636 non-null    object
 11  orig_lang      636 non-null    object
 12  country        636 non-null    object
 13  Gross          580 non-null    float64
 14  budget         618 non-null    float64
 15  revenue        621 non-null    float64
dtypes: float64(5), int64(2), object(9)
memory usage: 79.6+ KB

In [26]:
df['Series_Title'] = df['Series_Title'].str.title()

Just confirming the change

In [27]:
df.head()

,Series_Title,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Released_date,overview,crew,orig_lang,country,Gross,budget,revenue
0,Batman Begins,UA,140,"Action, Adventure",8.2,70.0,Christopher Nolan,1308302,6/16/2005,"Driven by tragedy, billionaire Bruce Wayne ded...","Christian Bale, Bruce Wayne / Batman, Michael ...",English,AU,206852432.0,150000000.0,358858124.0
1,First Blood,A,93,"Action, Adventure",7.7,61.0,Ted Kotcheff,226541,12-03-82,When former Green Beret John Rambo is harassed...,"Sylvester Stallone, John J. Rambo, Charles A. ...",English,AU,47212904.0,14000000.0,125212904.0
2,Indiana Jones And The Last Crusade,U,127,"Action, Adventure",8.2,65.0,Steven Spielberg,692366,06-08-89,"In 1938, an art collector appeals to eminent a...","Harrison Ford, Indiana Jones, Sean Connery, He...",English,AU,197171806.0,48000000.0,474171806.0
3,Deadpool,R,108,"Action, Adventure, Comedy",8.0,65.0,Tim Miller,902669,02-11-16,The origin story of former Special Forces oper...,"Ryan Reynolds, Wade Wilson / Deadpool, Morena ...",English,AU,363070709.0,58000000.0,781947691.0
4,Deadpool 2,R,119,"Action, Adventure, Comedy",7.7,66.0,David Leitch,478586,5/16/2018,Wisecracking mercenary Deadpool battles the ev...,"Ryan Reynolds, Wade Wilson / Deadpool / Jugger...",English,AU,324591735.0,110000000.0,786362370.0

To convert Released_date column the type from 'object' type to 'datetime64[ns]'

In [28]:
df['Released_date'] = pd.to_datetime(df['Released_date'])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series_Title   636 non-null    object
 1   Certificate    611 non-null    object
 2   Runtime        636 non-null    int64
 3   Genre          636 non-null    object
 4   IMDB_Rating    636 non-null    float64
 5   Meta_score     608 non-null    float64
 6   Director       636 non-null    object
 7   No_of_Votes    636 non-null    int64
 8   Released_date  636 non-null    datetime64[ns]
 9   overview       636 non-null    object
 10  crew           636 non-null    object
 11  orig_lang      636 non-null    object
 12  country        636 non-null    object
 13  Gross          580 non-null    float64
 14  budget         618 non-null    float64
 15  revenue        621 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(8)
memory usage: 79.6+ KB

### Statistics

__mean():__ Calculating the mean -average- of each column in the DataFrame 'df'<br>
__round(1):__ rounding to Nth decimal place (you can change the numbers)

In [31]:
df.mean().round(1)

<ipython-input-31-f7bcd135a95f>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.mean().round(1)
<ipython-input-31-f7bcd135a95f>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean().round(1)

Runtime              123.6
IMDB_Rating            8.0
Meta_score            77.5
No_of_Votes       374576.4
Gross           89597222.0
budget          42570328.1
revenue        696763713.5
dtype: float64

calculates the middle value of a dataset

In [32]:
df.median()

<ipython-input-32-6d467abf240d>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.median()
<ipython-input-32-6d467abf240d>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Runtime             120.0
IMDB_Rating           7.9
Meta_score           78.0
No_of_Votes      253080.5
Gross          47859104.0
budget         19000000.0
revenue        83282296.0
dtype: float64

calculates the value that appears most frequently in a dataset.

In [35]:
df.mode()

,Series_Title,Certificate,Runtime,Genre,IMDB_Rating,Meta_score,Director,No_of_Votes,Released_date,overview,crew,orig_lang,country,Gross,budget,revenue
0,Beauty And The Beast,A,100.0,Drama,7.7,76.0,Steven Spielberg,60408.0,1984-02-01,A German submarine hunts allied ships during t...,"Aamir Khan, Mahavir Singh Phogat, Fatima Sana ...",English,AU,4360000.0,15000000.0,2.500000e+06
1,Cool Hand Luke,NaN,NaN,NaN,NaN,NaN,NaN,102285.0,2001-12-26,"A Russian teenager, living in London, dies dur...","Björk, Selma Jezkova, Catherine Deneuve, Kathy...",NaN,NaN,NaN,NaN,4.000000e+06
2,Coraline,NaN,NaN,NaN,NaN,NaN,NaN,111512.0,2017-08-10,A group of survivors take refuge in a shopping...,"Dakota Fanning, Coraline Jones (voice), Teri H...",NaN,NaN,NaN,NaN,8.000000e+06
3,Crash,NaN,NaN,NaN,NaN,NaN,NaN,156479.0,NaT,"A man struggles with memories of his past, inc...","Jürgen Prochnow, Captain Lieutenant 'Der Alte'...",NaN,NaN,NaN,NaN,1.100000e+07
4,Creed,NaN,NaN,NaN,NaN,NaN,NaN,161984.0,NaT,A tenacious attorney uncovers a dark secret th...,"Kevin Costner, Lieutenant Dunbar, Mary McDonne...",NaN,NaN,NaN,NaN,1.360138e+07
5,Dallas Buyers Club,NaN,NaN,NaN,NaN,NaN,NaN,187927.0,NaT,A young girl discovers an idealized parallel u...,"Mark Ruffalo, Robert Bilott, Anne Hathaway, Sa...",NaN,NaN,NaN,NaN,1.621777e+07
6,Dancer In The Dark,NaN,NaN,NaN,NaN,NaN,NaN,197761.0,NaT,Dangal is an extraordinary true story based on...,"Matthew McConaughey, Ron Woodroof, Jared Leto,...",NaN,NaN,NaN,NaN,2.725706e+07
7,Dances With Wolves,NaN,NaN,NaN,NaN,NaN,NaN,227760.0,NaT,"Follow the adventures of Belle, a bright young...","Michael B. Jordan, Adonis Johnson, Sylvester S...",NaN,NaN,NaN,NaN,4.555677e+07
8,Dangal,NaN,NaN,NaN,NaN,NaN,NaN,231855.0,NaT,"In post-Sept. 11 Los Angeles, tensions erupt w...","Paige O'Hara, Belle (voice), Robby Benson, Bea...",NaN,NaN,NaN,NaN,5.607709e+07
9,Dark City,NaN,NaN,NaN,NaN,NaN,NaN,240266.0,NaT,Loosely based on the true-life tale of Ron Woo...,"Paul Newman, Luke Jackson, George Kennedy, Dra...",NaN,NaN,NaN,NaN,6.061184e+07
10,Dark Waters,NaN,NaN,NaN,NaN,NaN,NaN,247666.0,NaT,"Selma, a Czech immigrant on the verge of blind...","Rufus Sewell, John Murdoch, William Hurt, Insp...",NaN,NaN,NaN,NaN,7.000000e+07
11,Das Boot,NaN,NaN,NaN,NaN,NaN,NaN,417178.0,NaT,The former World Heavyweight Champion Rocky Ba...,"Sandra Bullock, Jean Cabot, Don Cheadle, Det. ...",NaN,NaN,NaN,NaN,8.497034e+07
12,Dawn Of The Dead,NaN,NaN,NaN,NaN,NaN,NaN,419483.0,NaT,When petty criminal Luke Jackson is sentenced ...,"Sarah Polley, Ana, Ving Rhames, Kenneth, Ty Bu...",NaN,NaN,NaN,NaN,1.011730e+08
13,Eastern Promises,NaN,NaN,NaN,NaN,NaN,NaN,441614.0,NaT,"Wounded Civil War soldier, John Dunbar tries t...","Viggo Mortensen, Nikolai Luzhin, Naomi Watts, ...",NaN,NaN,NaN,NaN,1.034529e+08
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,1.260371e+08
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,1.735676e+08
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,3.051495e+08
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,4.242088e+08
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,1.268697e+09

Finding the minimum value for each column in the DataFrame 'df'

In [36]:
df.min()

<ipython-input-36-c3612c624a3f>:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.min()

Series_Title                                  (500) Days Of Summer
Runtime                                                         64
Genre                                            Action, Adventure
IMDB_Rating                                                    1.0
Meta_score                                                    28.0
Director                                              Aaron Sorkin
No_of_Votes                                                  25198
Released_date                                  1931-11-19 00:00:00
overview         "Notorious" is the story of Christopher Wallac...
crew             Aamir Khan, Mahavir Singh Phogat, Fatima Sana ...
orig_lang                                                  English
country                                                         AU
Gross                                                       3296.0
budget                                                       990.0
revenue                                                        0.0
dtype: object

Finding the maximum value for each column in the DataFrame 'df'

In [37]:
df.max()

<ipython-input-37-4c1ddf8920ff>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.max()

Series_Title                                                  Zulu
Runtime                                                        238
Genre                                                      Western
IMDB_Rating                                                   60.0
Meta_score                                                   100.0
Director                                               Zack Snyder
No_of_Votes                                                2343110
Released_date                                  2072-11-02 00:00:00
overview         Yuri Orlov is a globetrotting arms dealer and,...
crew             İsmail Hacıoğlu, Süleyman Dirliği, Kim Seol, A...
orig_lang                                                  Turkish
country                                                         US
Gross                                                  858373000.0
budget                                                 400000000.0
revenue                                             300000000000.0
dtype: object

In [38]:
df.describe()

,Runtime,IMDB_Rating,Meta_score,No_of_Votes,Gross,budget,revenue
count,636.000000,636.000000,608.000000,6.360000e+02,5.800000e+02,6.180000e+02,6.210000e+02
mean,123.616352,8.017453,77.498355,3.745764e+05,8.959722e+07,4.257033e+07,6.967637e+08
std,27.019806,2.103277,12.598475,3.569119e+05,1.146642e+08,5.707076e+07,1.203448e+10
min,64.000000,1.000000,28.000000,2.519800e+04,3.296000e+03,9.900000e+02,0.000000e+00
25%,103.750000,7.700000,69.000000,1.153338e+05,1.316737e+07,6.000000e+06,2.658900e+07
50%,120.000000,7.900000,78.000000,2.530805e+05,4.785910e+07,1.900000e+07,8.328230e+07
75%,137.250000,8.100000,87.000000,5.171340e+05,1.205606e+08,5.048673e+07,2.679855e+08
max,238.000000,60.000000,100.000000,2.343110e+06,8.583730e+08,4.000000e+08,3.000000e+11

__to_CSV():__ To save the DataFrame in different file<br>
__index = False:__ to remove the numbering in the dataset

In [39]:
df.to_csv('transformed_file.csv', index = False)